.dash-ps-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.dash-ps-header {
  width: 100%;
  display: flex;
  max-width: 100%;
  align-items: center;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  padding-bottom: var(--dl-space-space-twounits);
  justify-content: space-between;
  background-image: linear-gradient(to right, #c2e59c 0%, #64b3f4 100%);
}
.dash-ps-container1 {
  flex: 0 0 auto;
  width: auto;
  height: 92px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.dash-ps-container2 {
  width: 100%;
  height: 92px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.dash-ps-container3 {
  width: 100%;
  height: 119px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-image: radial-gradient(circle at right bottom, rgb(254, 172, 94) 0.00%,rgb(199, 121, 208) 50.00%,rgb(75, 192, 200) 100.00%);
}
.dash-ps-text07 {
  font-size: 1.75em;
  font-style: normal;
  font-weight: 500;
}
.dash-ps-text12 {
  font-weight: 700;
}
.dash-ps-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 170px;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.dash-ps-container5 {
  width: 100%;
  height: 170px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #d9d9d9;
}
.dash-ps-text14 {
  font-size: 1.75em;
  align-self: center;
  font-style: normal;
  font-weight: 500;
  padding-bottom: var(--dl-space-space-halfunit);
}
.dash-ps-text17 {
  text-align: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.dash-ps-text19 {
  font-weight: 700;
}
.dash-ps-container6 {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-twounits);
  justify-content: center;
  background-image: radial-gradient(circle at left top, rgb(252, 0, 255) 0.00%,rgb(0, 219, 222) 100.00%);
}
.dash-ps-container7 {
  width: 100%;
  height: 381px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
.dash-ps-text21 {
  align-self: center;
}
.dash-ps-container8 {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: #D9D9D9;
}
.dash-ps-thq-dropdown {
  width: 349px;
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.dash-ps-dropdown-toggle {
  fill: #595959;
  color: #595959;
  width: 100%;
  height: 49px;
  display: inline-flex;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius2);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.dash-ps-text24 {
  font-size: 14px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-right: 4px;
  vertical-align: middle;
}
.dash-ps-text26 {
  font-weight: 700;
}
.dash-ps-dropdown-arrow {
  transition: 0.3s;
}
.dash-ps-icon {
  width: 18px;
  height: 18px;
  margin-top: auto;
  transition: 0.3s;
  margin-bottom: auto;
}
.dash-ps-dropdown-list {
  left: 0%;
  width: max-content;
  display: none;
  z-index: 100;
  position: absolute;
  min-width: 100%;
  transition: 0.3s;
  align-items: stretch;
  border-color: #D9D9D9;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  list-style-type: none;
  background-color: var(--dl-color-gray-white);
  list-style-position: inside;
}
.dash-ps-dropdown {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.dash-ps-dropdown-toggle1 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.dash-ps-dropdown-toggle1:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.dash-ps-text29 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.dash-ps-dropdown1 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.dash-ps-dropdown-toggle2 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.dash-ps-dropdown-toggle2:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.dash-ps-text32 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.dash-ps-dropdown2 {
  cursor: pointer;
  display: inline-block;
  position: relative;
  border-radius: var(--dl-radius-radius-radius2);
}
.dash-ps-dropdown-toggle3 {
  fill: #595959;
  color: #595959;
  width: 100%;
  display: inline-flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  border-radius: var(--dl-radius-radius-radius4);
  padding-right: var(--dl-space-space-unit);
  padding-bottom: var(--dl-space-space-halfunit);
}
.dash-ps-dropdown-toggle3:hover {
  fill: #fff;
  color: #fff;
  background-color: #595959;
}
.dash-ps-text33 {
  width: 100%;
  cursor: pointer;
  display: flex;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}
.dash-ps-text36 {
  font-size: 1.75em;
  align-self: center;
  font-style: normal;
  font-weight: 400;
}
.dash-ps-image {
  width: 100px;
  align-self: center;
  margin-top: var(--dl-space-space-halfunit);
  object-fit: cover;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dash-ps-text37 {
  align-self: center;
  margin-bottom: var(--dl-space-space-halfunit);
}
.dash-ps-image1 {
  width: 15px;
  align-self: center;
  object-fit: cover;
  margin-left: 75px;
}
.dash-ps-image2 {
  width: 318px;
  align-self: center;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  object-fit: cover;
  border-color: var(--dl-color-gray-black);
  border-style: hidden;
  border-width: 0px;
  border-radius: var(--dl-radius-radius-radius4);
  margin-bottom: var(--dl-space-space-oneandhalfunits);
}
.dash-ps-navlink {
  align-self: center;
  text-decoration: none;
}
@media(max-width: 767px) {
  .dash-ps-header {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .dash-ps-header {
    padding: var(--dl-space-space-unit);
  }
  .dash-ps-dropdown-toggle {
    width: 100%;
  }
}
